<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <!--internalLogLevel="Trace"
      internalLogFile="d:\work\log.txt"-->



  <extensions>
    <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
    <!--<add assembly="NLog.Extended" />-->
  </extensions>

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${aspnet-request:servervariable=URL} ${uppercase:${level}} ${message}" />

   
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="allOutputs" />-->
     <logger name="*" minlevel="Trace" writeTo="file" />
  
  </rules>
</nlog>